{#
/**
 * @file
 * Default theme implementation for a theme's long_inline_entity_form_entity_table form.
 *
 * Available variables:
 * - form: Form elements for the long_inline_entity_form_entity_table form.
 * - table: The table of referenced entities.
 *
 * @see long_inline_entity_form_entity_table()
 *
 * @ingroup themeable
 */
#}
{{ table }}

